
.title-div{
    position: absolute;;

    height: 60vh;
    width: 40vw;

    top: 19vh;
    left: 5vw;

    justify-content: center;
    display: inline-block;

}

.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    

}


#h-name {
    margin: 0;
    padding-top: 1vh;
    font-size: 7vh;
    position: relative;
    top: 1vh;

}

#p-intro {
    font-style: italic;
    font-size: 3vh;

    position: relative;
    top: 0;

    

}


@media(max-width: 450px) {

    .title-div{
        position: absolute;
    
        height: 100vh;
        width: 100vw;
    
        top: 15vh;
        left: 0;
    
        justify-content: center;
    
    }

    .photo {
        width: 250px;
        height: 250px;
        
    
    }

    #h-name{
        font-size: 5vh;

    }


    #p-intro {
        position: relative;
        top: 0;
        padding: 1vh 0 0 0;
    
    }

}