@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");

@keyframes html5 {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes css3 {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes js {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes reactjs {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes nodejs {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes java {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}

@keyframes sql {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}



.skills-div{
  position: absolute;

  height: 60vh;
  width: 30%;

  top: 12vh;
  left: 60%;



  
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.skills {
  position:relative;
  float:left;
  padding: 40px 0 0 0;
}
.skills ul {
  padding-top: 25px;
  list-style:none;
  text-align: left;

}
.skills ul > li {
  margin-bottom: 35px;
  background: #dedede;
  height: 10px;
  width: 100%;
}
.skills ul > li em {
  font-size: 18px;
  position: relative;
  top: -30px;
}
.skills ul > li span {
  height: inherit;
  background-color: #000;
  background: linear-gradient(90deg, #000, red);
  position: absolute;
  left: 0;
}
.skills .html5 {
  width: 100%;
  animation: html5 2s ease-out;
}
.skills .css3 {
  width: 90%;
  animation: css3 2s ease-out;
}
.skills .js {
  width: 100%;
  animation: js 2s ease-out;
}

.skills .reactjs {
  width: 90%;
  animation: reactjs 2s ease-out;
}
.skills .nodejs {
  width: 80%;
  animation: nodejs 2s ease-out;
}

.skills .java {
  width: 90%;
  animation: java 2s ease-out;
}

.skills .sql {
  width: 80%;
  animation: sql 2s ease-out;
}



@media(max-width: 450px) {
  .skills-div{
    position: absolute;
    display: inline-block;
  
    height: 60vh;
    width: 80%;
  
    top: 85vh;
    padding-left: 5vw;
    
    left: 0;

    box-sizing: border-box;

  
  
    
  }


  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: -20px;

    font-weight: 700;
  }

}