.App {
  text-align: center;
  width: 100vw;
  height: 100vh;


}



@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

#top-bar_h {
  position: absolute;

  top: 0;
  left: 0;

  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


#bottom-bar_h {
  position: absolute;
  top: 90vh;
  right: 0;


  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

} 



.style-bars {
  position: absolute;
  background-color: var(--red);
  width: 50vw;
  height: 10vh;

}




@media(max-width: 450px) {

  #bottom-bar_h {
    top: 130vh;
    right: 0;
  }

  
}




