
.about-div{
    position: absolute;

    height: 60vh;
    width: 40vw;

    top: 20vh;
    right: 5vw;

    justify-content: center;

    

}

.shortcuts {

    height: 52px;
    width: 52px;
    border-radius: 50%;

    margin: 10px;
}

.shortcuts:hover {

    box-shadow: 0px 5px 2px red;}

#p-desc {

    margin: 50px;

    font-size: 25px;
}

#icon-linkedin {

    height: 50px;
    width: 50px;
}

#icon-github {

    height: 50px;
    width: 50px;
}

@media(max-width: 450px) {

    .about-div{
        position: absolute;

        height: 30vh;
        width: 100vw;

        top: 80vh;
        left: -5vw;

        justify-content: center;

        

    }

    .shortcuts {

        position: absolute;

        height: 52px;
        width: 52px;
        border-radius: 50%;

        top: 29vh;
    }

    .shortcuts:hover {

        box-shadow: 0px 5px 2px red;}

    #p-desc {
        position: absolute;

        margin: 50px;

        font-size: 15px;
    }

    #icon-linkedin {
        position: absolute;
        height: 50px;
        width: 50px;
    }

    #icon-github {
        position: absolute;
        left: 25vw;
        height: 50px;
        width: 50px;
    }




}




