
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}




.next {
    position: absolute;
    display: block;
    margin: 20px 0 0 0;
    width: 50px;
    height: 50px;

    right: 23%;

    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate-reverse both;
  }

  .next:before {
    content: " ";
    display: block;
    position: absolute;
    width: 35%;
    height: 35%;
    color: var(--red);
    border: solid #000 3px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) skewX(10deg) skewY(10deg);
  }
  

  .next:before {
    border-top: none;
    border-left: none;
    left: 42%;
  }
  

   .next {
    cursor: pointer;
    /*transition: all $btTransiTime linear;*/
  }

  .next:hover {
    border-width: 4px;
    border-color: var(--red);
  }
  .next:hover:before {
    border-width: 4px;
    border-color: var(--red);
  }
  
   
  .next:active:before {
    left: 48%;
  }
  
  .btclick {
    border-width: 5px;
    border-color: var(--red);
  }