 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(90vw);
              transform: translateX(90vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(90vw);
              transform: translateX(90vw);    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-50vw);
              transform: translateX(-50vw);
    }
    100% {
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-50vw);
              transform: translateX(-50vw);
    }
    100% {
      -webkit-transform: translateX(0vw);
              transform: translateX(0vw);
    }
  }

  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }


#main-div {
    position:absolute;
    width: 100vw;
    height: 100vh;
}

#top-bar_h {
    top: 0;
    left: 0;

    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#bottom-bar_h {
    position: absolute;
    top: 90vh;
    right: 0;


    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

#top-bar_w {
  top: 0;
  right: 0;

  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#bottom-bar_w {
  position: absolute;
  top: 90vh;
  left: 0;

  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.style-bars {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 20%; 
    transform: translate(-50%, -50%);
    background-color: black;
    width: 2px;
    height: 60vh;
    display: block;

    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.style-bars {
    position: absolute;
    background-color: red;
    width: 50vw;
    height: 10vh;

}


@media(max-width: 574px) {
  #line-div{
    display: none;
  }

  #bottom-bar_w {
    position: absolute;
    top: 160vh;
    left: 0;
  
  }

  #bottom-bar_h {
    position: absolute;
    top: 120vh;
    right: 0;
  
  }


}

