.work {
    position:absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.chat-container {
  position: absolute;
  right: 15vw;
  bottom: 12vh;
  z-index: 1;
  border-color: black;
  border-style: solid;
  border-radius: 3%;
}




@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(50vw);
              transform: translateX(50vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(50vw);
              transform: translateX(50vw);    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  



  #bottom-bar_w {
    position: absolute;
    top: 90vh;
    left: 0;
    z-index: 9;
    
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    }
    
  
  #top-bar_w {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;

  
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  

@media(max-width: 450px) {

  

    #bottom-bar_w {
      top: 180vh;
      left: 0;
    
    }
    .chat-container {
      position: absolute;
      bottom: -72vh;
    }
}
