.work {
    position:absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.chat-container {
  position: absolute;
  right: 15vw;
  bottom: 9vh;
  width: 275px;


 
}


.btn-chat {
  position: relative;
  top: 65vh;
  left: 25%;

  width: 33%;
  height: 40px;

  background-color: lightgray;
  padding: 10px 50px 10px 50px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  box-shadow: none;
  
}


.btn-chat:hover {
  letter-spacing: 0.3em;
  background-color: var(--red);


}


.btn-chat_out {
  position: absolute;
  top: 40vh;
  right: -18vh;

  width: 100px;
  height: 40px;

  background-color: lightgray;
  padding: 5px 5px 5px 5px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  
}

.btn-chat_out:hover {
  letter-spacing: 0.2em;
  background-color: var(--red);
  


}




@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(50vw);
              transform: translateX(50vw);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(50vw);
              transform: translateX(50vw);    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  



  #bottom-bar_w {
    position: absolute;
    top: 90vh;
    left: 0;
    z-index: 9;
    
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    }
    
  
  #top-bar_w {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;

  
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  

@media(max-width: 450px) {

  

    #bottom-bar_w {
      top: 180vh;
      left: 0;
    
    }
    .chat-container {
      position: absolute;
      bottom: -72vh;
      left: 12vw;
      height: 501px;
      width: 275px;
      justify-content: center;
      
    }

    .btn-chat {
      position: relative;
      top: 150vh;
      left: 0;

      width: 90vw;
   
    
    
      
    }
    
    
   
    
    
    .btn-chat_out {
      position: relative;
      top: 8vh;
      left: 30vw;
    


      
    }
    
 
}
