@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --red: #cc0000;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(min-width: 452px) {
  .chat-container {
    position: absolute;
    right: 15vw;
    bottom: 9vh;
    z-index: 1;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
    width: 275px;
    height: 500px;
  }
  


 

  .react-chatbot-kit-chat-input-container {
    width: 275px;
  }


  .react-chatbot-kit-chat-header {
    width: 250px;

  }



}




@media(max-width: 450px) {

  html {
    max-width: 100vw;
    max-height: 100vh;


  }

  body {
    overflow-y: auto;
  }
  
  .chat-container{
    height: 501px;
    width: 275px;

  }
}






















