@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --red: #cc0000;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 450px) {

  html {
    max-width: 100vw;
    max-height: 100vh;


  }

  body {
    overflow-y: auto;
  }
  
}






















