@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 450px) {

  html {
    max-width: 100vw;
  }

  body {
    
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
}


