.exp-div{
    position: absolute;

    height: 60vh;
    width: 40vw;

    top: 20vh;
    left: 5vw;

    justify-content: center;


}

.exp-div p{
    margin: 10px;
}

.content-div {
    margin-top: 8vh;
    font-size: 3vh;

}

.work-button {
    padding: 10px 50px 10px 50px;
    width: 33%;
    background-color: lightgray;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

.work-button:hover {
    letter-spacing: 0.8em;
    background-color: var(--red);
}


.work-button:focus {
    letter-spacing: 0.8em;
    background-color: var(--red);
}

#work-info{
    font-style: italic;
    font-size: 15px;
}

#work-name{
    font-style: bold;
    font-size: 35px;
    margin: -10px 0 -0px 0;
}


@media(max-width: 450px) {
    .exp-div{
        position: absolute;
    
        height: 100%;
        width: 100%;
    
        top: 15vh;
        left: 0;
    
        justify-content: center;
    
    
    }
    .exp-div p{
        padding: 0vh 5vw 1vh 5vw;
    }
    
    .content-div {
        margin: 10vh 0 0 -10px;
        
        font-size: 3vh;
        
    
    }

    .work-button {
        padding: 10px 0px 10px 10px;
        width: 33%;
        float: left;
        font-size: 13px;
  
    }


}




